

.logo .logo {
    /* fill: orange; */
    fill: #fbbf24;
    fill: #22d3ee;
    animation: 5s linear infinite floating;
}

.logo .landfill {
    fill: #155e75;
   
}

.logo .letter {
    fill: orange;
    
    fill: #fbbf24;
}



.logo .letter.big {
    animation: 5000ms linear infinite updown;
    /* animation-delay: calc(0.5s * attr(index)); */
}

/* W */
.logo .letter.big:nth-last-child(5) {animation-delay: 0s; } 
.logo .letter.big:nth-last-child(6) {animation-delay: 0s; } 
/* W */
.logo .letter.big:nth-last-child(7) {animation-delay: 0.5s; }
.logo .letter.big:nth-last-child(8) {animation-delay: 0.5s; }
/* G */
.logo .letter.big:nth-last-child(9) {animation-delay: 1.0s; }


.logo .letter.small {
    transform-box: fill-box;
    transform-origin: center;
    animation: 2500ms linear spin;
}

.logo .letter.small:nth-last-child(10) {animation-delay: 0.5s; } .logo .letter.small:nth-last-child(11) {animation-delay: 0.55s; }
.logo .letter.small:nth-last-child(12) {animation-delay: 0.7s; }
.logo .letter.small:nth-last-child(13) {animation-delay: 0.9s; }
.logo .letter.small:nth-last-child(14) {animation-delay: 1.1s; } .logo .letter.small:nth-last-child(15) {animation-delay: 1.15s; }
.logo .letter.small:nth-last-child(16) {animation-delay: 1.3s; }
.logo .letter.small:nth-last-child(17) {animation-delay: 1.5s; }
.logo .letter.small:nth-last-child(18) {animation-delay: 1.7s; }
.logo .letter.small:nth-last-child(19) {animation-delay: 1.9s; }
.logo .letter.small:nth-last-child(20) {animation-delay: 2.1s; }
.logo .letter.small:nth-last-child(21) {animation-delay: 2.3s; }
.logo .letter.small:nth-last-child(22) {animation-delay: 2.5s; }
.logo .letter.small:nth-last-child(23) {animation-delay: 2.7s; }
.logo .letter.small:nth-last-child(24) {animation-delay: 2.9s; }
.logo .letter.small:nth-last-child(25) {animation-delay: 3.1s; }
.logo .letter.small:nth-last-child(26) {animation-delay: 3.3s; }
.logo .letter.small:nth-last-child(27) {animation-delay: 3.5s; }
.logo .letter.small:nth-last-child(28) {animation-delay: 3.7s; }


/* .logo .letter.big:nth-last-of-type(3) {
    animation-delay: 0.5s;
}

.logo .letter.big:nth-last-of-type(3) {
    animation-delay: 0.5s;
} */

@keyframes updown {
    0% {
        transform: translateY(0%);
    }
    25% {
        transform: translateY(-1%);
    }
    75% {
        transform: translateY(1%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0.8%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes spin {
    0% {
        transform: rotateY(0);
    }
    100% {
        transform: rotateY(360deg);
    }
}