@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #222;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	
}

.text-white {
	color: white;
}

body {
	margin: 0;
	display: flex;
	align-items: center;
	min-height: 100vh;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

img {
	margin-bottom: 1.5rem;
}

img:hover {
	filter: drop-shadow(0 0 2em #673ab8aa);
}

section {
	margin-top: 5rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.5rem;
}

.resource {
	padding: 0.75rem 1.5rem;
	border-radius: 0.5rem;
	text-align: left;
	text-decoration: none;
	color: #222;
	background-color: #f1f1f1;
	border: 1px solid transparent;
}

.resource:hover {
	border: 1px solid #000;
	box-shadow: 0 25px 50px -12px #673ab888;
}

@media (max-width: 639px) {
	#app {
		margin: 2rem;
	}
	section {
		margin-top: 5rem;
		grid-template-columns: 1fr;
		row-gap: 1rem;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #ccc;
		background-color: #1a1a1a;
	}
	.resource {
		color: #ccc;
		background-color: #161616;
	}
	.resource:hover {
		border: 1px solid #bbb;
	}
}


.question-element {
	font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

	color: black;
	background-color: #ca8a04 ; /*#fbbf24; */

	/* border: 4px solid #220090; */
	border: 3px solid #905f00;
}

.question-container {
	width: 100%;
	height: 5em;
	font-size: 18pt;
	font-weight: 600;
	text-align: center;
}

.answer-container {
	width: 100%;
	height: 3em;
	font-size: 14pt;

	/* Center text in the middle*/
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.answer-container:hover {
	background-color: #38bdf8;
	background-color: #0e7490 ;
}

.answer-container.choosen {
	background-color: #38bdf8;
	background-color: #0e7490 ;
}

.answer-container.reveal.correct {
	background-color: green;
}


.answer-container.reveal.false {
	background-color: red;
}